{{- setTitle(t('cabinet.profile','Changing password')) -}}
{{- addBreadcrumb(this.title) -}}
<div class="cabinet-profile-email">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3 class="page-header">{{ this.title }}</h3>

            {% set form = form_begin({id: 'email-form'}) %}
            {{ form.field(model, 'oldPassword').passwordInput()|raw }}
            {{ form.field(model, 'newPassword').passwordInput()|raw }}
            <div class="form-group">
                {{ Html.submitButton(t('base','Save'), {class: 'btn btn-primary'})|raw }}
            </div>
            {{- form_end() -}}
        </div>
    </div>
</div>