{{- use([
    'yashop\\site\\assets\\AppAsset',
    'yashop\\site\\widgets\\UserMenu',
    'yashop\\site\\widgets\\Language',
    'yashop\\site\\widgets\\Alert',
    'yashop\\site\\widgets\\SearchBlock',
    'yii\\widgets\\Breadcrumbs'
]) -}}
{{- static('AppAsset', 'register', this) -}}
{{- this.beginPage() -}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ app.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ this.title }}</title>
    {{ this.head() }}
</head>
<body>
{{- this.beginBody() -}}
<div class="wrap">
    {{ widget_begin('NavBar', { options: { class: 'navbar-inverse navbar-fixed-top navbar-top' } }) }}
    {{ widget('Language') }}
    {{ widget('UserMenu') }}
    {{ widget_end('NavBar') }}
    <div class="container">
        <header class="head">
            <div class="row">
                <div class="col-md-3">
                    <a href="{{ path(app.homeUrl) }}" class="logo">{{ app.name }}</a>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    {{ widget('SearchBlock') }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                {{ widget_begin('NavBar', {options: { class: 'navbar-default navbar-main'}}) }}
                {{ widget('Menu', {type: 'main-menu', htmlClass: 'nav navbar-nav'}) }}
                {{ widget_end('NavBar') }}
                </div>
            </div>
        </header>
        <div class="main-content">
            {{ widget('Breadcrumbs', {links: this.params['breadcrumbs']}) }}
            {{ widget('Alert') }}
            {{ content | raw }}
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="pull-left">&copy; {{ app.name }} {{ "now"|date('Y') }}</p>
    </div>
</footer>
{{- this.endBody() -}}
</body>
{{- this.endPage() -}}