{% for param in params %}
<div class="form-group input-params">
    <label class="col-md-3 control-label">{{ param.name }}:</label>
    <div class="col-md-9">
        {% for value in param.items %}
            {{- Html.beginTag('a', {
                href: value.image ? echo_static('ItemView', 'getImagePath', value.image) : '#',
                rel: value.image ? 'preload',
                class: 'input-property' ~ (value.image ? ' image' : ''),
                title: value.name,
                'data-pid': param.id,
                'data-vid': value.id
            })|raw -}}
            {% if value.image %}
                {{ Html.img(echo_static('ItemView', 'getImagePath', value.image, 'property'), {alt: value.name})|raw }}
            {% else %}
                {{- value.name -}}
            {% endif %}
            {{- Html.endTag('a')|raw -}}
        {% endfor %}
        <input type="hidden" name="{{ param.id }}" class="input-param" id="pid_{{ param.id }}" value="0">
    </div>
</div>
{% endfor %}