{{- use(['yii\\helpers\\HtmlPurifier']) -}}
{{- setTitle(item.title) -}}
{{- this.registerMetaTag({name: 'description', content: item.meta_desc}) -}}
{{- this.registerMetaTag({name: 'keywords', content: item.meta_keyword}) -}}
{{- addBreadcrumb(item.name) -}}
<div class="row item-main">
    <div class="col-md-4 item-image-block">
        <div id="small-images">
            <a rel="preload" href="{{ item_image(item.image) }}">
                <img src="{{ item_image(item.image, 'thumbnail') }}" alt="" width="40" height="40">
            </a>
            {% for image in item.images %}
                <a rel="preload" href="{{ item_image(image) }}">
                    <img src="{{ item_image(image, 'thumbnail') }}" alt="" width="40" height="40">
                </a>
            {% endfor %}
        </div>
        <div id="main-image">
            <a href="{{ item_image(item.image) }}" rel="preload">
                <img src="{{ item_image(item.image, 'main') }}" class="img-responsive" alt="">
            </a>
        </div>
    </div>
    <div class="col-md-5">
        <h3 class="title">{{ item.name }}</h3>
        <div class="price" id="item-price">
            {{ item.getPrice() }}
        </div>
        <div class="clearfix"></div>
        <form class="form-horizontal">
            {{ this.render('_input_params', {params: item.inputParams})|raw }}

            <div class="form-group">
                <label class="col-md-3 control-label">В наличии:</label>
                <div class="col-md-9">
                    <p class="form-control-static" id="item-count">{{ item.num }} шт.</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Количество:</label>
                <div class="col-md-9 item-count-info">
                    <div class="controls">
                        <a href="#" id="item-smaller" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-minus"></i></a>
                        <input id="num" class="form-control input-sm" type="text" value="1">
                        <a href="#" id="item-bigger" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-plus"></i></a>
                    </div>
                    <div class="item-total">
                        x&nbsp;
                        <span id="item-price-per-one">
                            {{ item.getPrice() }}
                        </span>
                        &nbsp;=&nbsp;
                        <span class="total" id="item-total">
                            {{ item.getPrice() }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5 col-md-offset-3">
                    <button type="button" id="add-to-cart" class="btn btn-primary">Добавить в корзину</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-default">В избранное</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Категории</div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>
<div class="row item-data">
    <div class="col-md-10 col-md-offset-1">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Характеристики товара</a></li>
            <li><a href="#desc" data-toggle="tab">Описание</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="desc">
                {{ echo_static('HtmlPurifier', 'process', item.description)|raw }}
            </div>
            <div class="tab-pane active" id="tab1">
                <table class="table table-striped tcart">
                    <tbody>
                    {% for property, value in item.params %}
                        <tr>
                            <th>{{ property }}:</th>
                            <td>{{ value|join(', ') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>