{{- setTitle(t('user', 'Signup')) -}}
{{- addBreadcrumb(this.title) -}}
<div class="site-signup">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h3 class="page-header">{{ this.title }}</h3>
            {% set form = form_begin({id: 'form-signup'}) %}
            {{ form.field(model, 'username') |raw }}
            {{ form.field(model, 'email') |raw }}
            {{ form.field(model, 'password').passwordInput |raw }}
            <div class="form-group">
                {{ Html.submitButton(t('user','Register'), {class: 'btn btn-primary', name: 'signup-button'}) |raw }}
            </div>
            {{- form_end() -}}
        </div>
    </div>
</div>
