{{- setTitle(t('user','Request password reset')) -}}
{{- addBreadcrumb(this.title) -}}
<div class="site-request-password-reset">
    <h1>{{ this.title }}</h1>

    <p>{{ t('user','Please fill out your email. A link to reset password will be sent there.') }}</p>

    <div class="row">
        <div class="col-lg-5">
            {% set form = form_begin({id: 'request-password-reset-form'}) %}
            {{ form.field(model, 'email') |raw }}
            <div class="form-group">
                {{ Html.submitButton(t('user','Send'), {class: 'btn btn-primary'})|raw }}
            </div>
            {{- form_end() -}}
        </div>
    </div>
</div>
