{{- setTitle(t('user','Reset password')) -}}
{{- addBreadcrumb(this.title) -}}
<div class="site-reset-password">
    <h1>{{ this.title }}</h1>

    <p>{{ t('user','Please choose your new password') }}:</p>

    <div class="row">
        <div class="col-lg-5">
            <?php $form = ActiveForm::begin(['id' => 'reset-password-form']); ?>
            {% set form = form_begin({id: 'reset-password-form'}) %}
            {{ form.field(model, 'password').passwordInput() |raw }}
            <div class="form-group">
                {{ Html.submitButton(t('base','Save'), { class: 'btn btn-primary' }) }}
            </div>
            {{- form_end() -}}
        </div>
    </div>
</div>
